.order-card {
  background: #fff;
  transition: all 0.3s ease;
}

.order-card:hover {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  background: #f9f9f9;
}

.list-group-item.active {
  background-color: #ff5722;
  border-color: #ff5722;
  color: white;
}

.badge.bg-success {
  background-color: #4caf50;
  font-size: 0.8rem;
}

.order-list-container {
  max-height: calc(80vh - 100px); /* khoảng trống còn lại sau header */
  overflow-y: auto;
  padding-right: 10px;
}
